.banner-container{
    display: flex;
    justify-content: center;
}

.product-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-card-wrap{
    padding: 15px;
    width: 25%;
}

@media screen and (max-width: 850px){

    .banner{

        margin-top: 56px;

        padding: 30px 0;
    }

}